/* add home page styles here */
#calcBanner {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}

main {
	position: relative;
	top: 5em;
}

div > span {
	margin: 10px;
}
#operator {
	font-size: 2rem;

}

button {
	margin: 5px;
}

#output {
	font-size: 10rem;
	color: seagreen;

}
.equals {
	font-size: 5rem;
	color: salmon;
}